*{
  margin: 0;
  border: 0;
}
body {
  background-color:#4a4a4a;
}

.square {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: burlywood;
  margin: 0.5rem;
  padding-top: 10px;
  border-radius: 0.5rem; 
  transition: 0.3s;
  
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
  padding: 1.8rem;
  background-color: black;
  text-transform: uppercase; 
}

#message{
  color: white;
  display: inline-block;
  width:80%;
  font-size: 210%;
  text-align: center;
  justify-content: center;

}

#stripe{
    background-color: grey;
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-block-end: 1.5rem;
}

#colorDisplay{
  font-size: 170%;
}
.selected{
  background-color: #fff;
  color: #000;
}

.square:hover{
  transform: scale(1.05);
}

button{
  border: 1px solid white;
	background: transparent;
	font-family: 'Poppins', sans-serif;
  font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	padding: 5px 10px;
	margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 1px;
  text-transform: uppercase;  
}

button:hover{
  background-color: #fff;
  color: #000;
}

.botones{
  text-align: center;  
}

.botones button {
  margin-right: 5rem; 
}

.botones button:last-child {
  margin-right: 0; 
}
